# Внешний поставщик контента
REMOTE_CONTENT_API_URL=
REMOTE_CONTENT_API_KEY=
VITE_REMOTE_CONTENT_API_URL=
VITE_REMOTE_CONTENT_API_KEY=

# Сервис для хранения данных пользователя
REMOTE_STORAGE_API_URL=
REMOTE_STORAGE_API_TOKEN=
VITE_REMOTE_STORAGE_API_URL=
VITE_REMOTE_STORAGE_API_TOKEN=